<html>
    <head>
        <title>Big Jungle, the world's newest book store.</title>
    </head>
    <body>
        <pre style="color:rgb(0, 0, 0); background-color:rgb(55, 255, 55);">
            <b>
            .----------------------------------------------------------------------------------------------------------------------------.
            | ________      ___      ________             ___      ___  ___      ________       ________      ___           _______      |
            ||\   __  \    |\  \    |\   ____\           |\  \    |\  \|\  \    |\   ___  \    |\   ____\    |\  \         |\  ___ \     |
            |\ \  \|\ /_   \ \  \   \ \  \___|           \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \  \___|    \ \  \        \ \   __/|    |
            | \ \   __  \   \ \  \   \ \  \  ___       __ \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \  \  ___   \ \  \        \ \  \_|/__  |
            |  \ \  \|\  \   \ \  \   \ \  \|\  \     |\  \\_\  \   \ \  \\\  \   \ \  \\ \  \   \ \  \|\  \   \ \  \____    \ \  \_|\ \ |
            |   \ \_______\   \ \__\   \ \_______\    \ \________\   \ \_______\   \ \__\\ \__\   \ \_______\   \ \_______\   \ \_______\|
            |    \|_______|    \|__|    \|_______|     \|________|    \|_______|    \|__| \|__|    \|_______|    \|_______|    \|_______||
            '----------------------------------------------------------------------------------------------------------------------------'
            </b>
        </pre>
        <p>Welcome to Big Jungle, an online store that just sells books.</p>
        <p>Here is a list of the books you can buy:</p>
        <ul>
            <li>How to Build a Computer</li>
            <li>How to Boot a Computer</li>
            <li>How to Reboot a Computer</li>
            <li>How to Make a Computer Do What You Want</li>
            <li>How to Turn Off a Computer</li>
            <li>How to Go Outside and Play</li>
        </ul>
    </body>
</html>
