<html>
    <head>
        <title>Big Jungle, the world's simplest book store.</title>
    </head>
    <body>
        <pre style="color:rgb(0, 0, 0); background-color:rgb(55, 255, 55);">
            <b>
            .----------------------------------------------------------------------------------------------------------------------------.
            | ________      ___      ________             ___      ___  ___      ________       ________      ___           _______      |
            ||\   __  \    |\  \    |\   ____\           |\  \    |\  \|\  \    |\   ___  \    |\   ____\    |\  \         |\  ___ \     |
            |\ \  \|\ /_   \ \  \   \ \  \___|           \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \  \___|    \ \  \        \ \   __/|    |
            | \ \   __  \   \ \  \   \ \  \  ___       __ \ \  \   \ \  \\\  \   \ \  \\ \  \   \ \  \  ___   \ \  \        \ \  \_|/__  |
            |  \ \  \|\  \   \ \  \   \ \  \|\  \     |\  \\_\  \   \ \  \\\  \   \ \  \\ \  \   \ \  \|\  \   \ \  \____    \ \  \_|\ \ |
            |   \ \_______\   \ \__\   \ \_______\    \ \________\   \ \_______\   \ \__\\ \__\   \ \_______\   \ \_______\   \ \_______\|
            |    \|_______|    \|__|    \|_______|     \|________|    \|_______|    \|__| \|__|    \|_______|    \|_______|    \|_______||
            '----------------------------------------------------------------------------------------------------------------------------'
            </b>
        </pre>
        <p>Welcome to Big Jungle, an online store that just sells books.</p>
        <p>Here is a list of the books you can buy:</p>
        <form action="." method="post">
        {% if template_data['books']|length == 0 %}
        <p style="color: red;">All books are sold out!</p>
        {% else %}
        <ul>
            {% for book in template_data['books'] %}
            <li>
                {{ book[1] }}
                <button name="buy-book" value="{{book[0]}}">buy</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>
    </body>
</html>
